body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header .container {
  background-color: rgba(28, 28, 28, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.logo svg {
  margin-right: 0.5rem;
}

nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1rem;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

footer {
  padding: 1rem 0;
}

footer .container {
  background-color: rgba(28, 28, 28, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

footer .logo {
  font-size: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-btn {
  background-color: #9a00c0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
}

.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .container {
  position: relative;
  z-index: 1;
}

.hero h1 {
  color: #ffffff;
}

.hero-spline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.spline-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
spline-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
